@charset "utf-8";
/* Creat by zhang 2015.01.26 for Mbeiwaiguoji.com*/
/**** 最后一次修改的同学在此写上修改时间和原因 ****/
/* 移动端全局样式，谨慎操作！ */

/* RESET CSS 统一浏览器 */
*{margin: 0px; padding: 0px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{margin:0;padding:0; line-height:normal;}
body { 
font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; 
font-size: 14px; 
margin: 0; 
padding: 0; 
-webkit-user-select: none; 
-webkit-text-size-adjust: none; 
outline: none;  
min-width: 320px; 
} 

input, textarea { 
-webkit-user-select: text 
} 

section, nav, article, aside, hgroup, header, footer { 
display: block 
} 

input, textarea, select, button, table { 
font-size: inherit; 
font-family: inherit; 
line-height: inherit 
} 

img { 
border: none 
} 

ul, ol, li { 
list-style: none 
} 

i, em { 
font-style: normal 
} 

a { 
color: inherit; 
text-decoration: none 
} 

article, aside, details, figcaption, figure{ 
display: block; 
}                                      
/* 布局 */
.fclear:before, .fclear:after {content:"";display:table;clear:both;} /*清除浮动*/
.fclear {zoom:1;clear:both;}
